<h1>Coach's answer</h1>

<div class="message-card">
  <h3><%= @message %></h3>
  <p>- You</p>
</div>


<div class="answer-card">
  <h3><%= @answer %></h3>
  <p>- Your coach</p>
</div>

<div class="link">
  <%= link_to "Talk to your coach again", ask_path,  class: "message-link"%>
</div>